<header class="header">
  <h1 class="brand-title">FlightBooking</h1>
  <button class="logout-btn">Logout</button>
</header>
<div class="search-page">
  <div class="search-box">
    <br>
    <form #searchForm="ngForm" (ngSubmit)="searchForm.valid && search()" class="search-form">

      <div class="search-field">
        <label>From City:</label>
        <select name="fromCityCode" [(ngModel)]="searchModel.fromCityCode" required>
          <option value="">Select</option>
          <option value="MAA">Chennai (MAA)</option>
          <option value="BOM">Mumbai (BOM)</option>
          <option value="DEL">Delhi (DEL)</option>
          <option value="BLR">Bengaluru (BLR)</option>
          <option value="HYD">Hyderabad (HYD)</option>
        </select>
      </div>

      <div class="search-field">
        <label>To City:</label>
        <select name="toCityCode" [(ngModel)]="searchModel.toCityCode" required>
          <option value="">Select</option>
          <option value="MAA">Chennai (MAA)</option>
          <option value="BOM">Mumbai (BOM)</option>
          <option value="DEL">Delhi (DEL)</option>
          <option value="BLR">Bengaluru (BLR)</option>
          <option value="HYD">Hyderabad (HYD)</option>
        </select>
      </div>

      <div class="search-field">
        <label>Date:</label>
        <input type="date" name="date" [(ngModel)]="searchModel.date" [min]="today" required>
      </div>

      <div class="search-field">
        <button type="submit" [disabled]="searchForm.invalid" class="search-btn">
          Search
        </button>
      </div>

    </form>
  </div>

  @if(flights.length > 0) {
    <h2 class="flights-heading">Available Flights</h2>
    <div class="flights-container">
      @for(flight of flights; track flight.id){
        <div class="flight-card">
          
          <div class="flight-top row">
            <p class="from-city"><strong>From:</strong> {{ flight.fromCity.cityName }} ({{ flight.fromCity.airportCode}})</p>
            <p class="to-city"><strong>To:</strong> {{ flight.toCity.cityName }} ({{ flight.toCity.airportCode}})</p>
          </div>

          <div class="flight-middle row">
            <p><strong>Date:</strong> {{ flight.departureDate }}</p>
            <p><strong>Dep:</strong> {{ flight.departureTime | date:'HH:mm' }} | <strong>Dur:</strong> {{ flight.duration }}m</p>
          </div>

          <div class="flight-bottom row">
            <p><strong>Seats:</strong> {{ flight.seatsAvailable }}</p>
            <p class="price"><strong>Price:</strong> Rs. {{ flight.price }}</p>
          </div>

          <button class="book-btn">Book Ticket</button>
        </div>
      }
    </div>
  }


  @if(fetchError){
    <div class="popup-overlay">
      <div class="popup-box">
        <h2>{{ errorMessage }}</h2>
        <button class="popup-btn" (click)="hideError()">Ok</button>
      </div>
    </div>
  }

</div>