* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #DDDDDD;
  font-family: 'Google Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ececd3;
  padding: 15px 30px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}


.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.brand-title {
  font-size: 36px;
  font-weight: 700;
  color: #222831;
  margin: 0;
}

.register-page {
  height: 100vh;
  display: flex;
  margin-top: -4%;
  background-color: #ececd3;
  justify-content: center;
  align-items: center;
}

.register-box {
  background-color: #222831;
  padding: 50px 40px;
  width: 500px;
  border-radius: 12px;
  z-index: 1;
}

.register-heading {
  color: #DDDDDD;
  margin-bottom: 24px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  color: #DDDDDD;
  font-size: 16px;
  font-weight: 500;
}

.form-group input {
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #30475E;
  color: #DDDDDD;
}

.form-group input:focus {
  outline: none;
}

.error-text {
  color: #F05454;
  font-size: 14px;
}

.login-btn {
  margin-top: 10px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #F05454;
  color: white;
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.register-btn {
  margin-top: 8px;
  padding: 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #30475E;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease;
}

.register-btn:hover {
  background-color: #F05454;
  border-color: #F05454;
  color: #FFFFFF;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background-color: #222831;
  padding: 28px 40px;
  border-radius: 12px;
  width: 420px;
  text-align: center;
}

.popup-box h2 {
  color: #DDDDDD;
  margin-bottom: 20px;
}

.popup-btn {
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #F05454;
  color: white;
}

.plane-image {

  left: -8vw;
  bottom: -40px;

  width: 45vw;
  height: 500px;

  opacity: 0.9;
  z-index: 0;
  pointer-events: none;
}

.plane-down-image {

  right: -6vw;
  top: 90px;
  
  width: 45vw;
  height: 500px;

  opacity: 0.9;
  z-index: 0;
  pointer-events: none;
}

.brand-header {
  position: fixed;
  top: 20px;
  left: 30px;

  display: flex;
  align-items: center;
  gap: 12px;

  z-index: 2;
}

.brand-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
