<h1>Login page</h1>
<div>


  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" [(ngModel)] = "loginModel.username" id="username" name="username" required>

    <label for="Password">Password:</label>
    <input type="password" [(ngModel)] = "loginModel.password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>
</div>
<p>New user? <a routerLink="/register">Register here</a></p>

@if(loginError){
  <div>
    <p>{{errorMessage}}</p>
    <button (click)="hidePopUp()">Ok</button>
  </div>      
}