<h1 class="brand-title">FlightBooking</h1>

<div class="login-page">
  <div class="login-box">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()" class="login-form">

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="loginModel.username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="loginModel.password"
          required
        />
      </div>

      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Login
      </button>
      <button class="register-btn" (click)="redirectToRegister()">
        Create new user
      </button>
    </form>
  </div>
</div>



@if (loginError) {
  <div class="popup-overlay">
    <div class="popup-box">
      <h2>{{ errorMessage }}</h2>
      <button class="popup-btn" (click)="hidePopUp()">Ok</button>
    </div>
  </div>
}
