<app-header-component></app-header-component>

<div class="profile-page">
  <div class="profile-container">
    <h2>Your Profile</h2>
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <hr>

    @if(!requestChangePassword){
    <button (click)="requestChangePassword = true">Change Password</button>
    }

    @if(requestChangePassword){
    <h3>Change Password</h3>
    <form #passwordForm="ngForm" (ngSubmit)="changePassword()">
        <input type="password" name="oldPassword" required placeholder="Old Password"
            [(ngModel)]="request.oldPassword" />
        <input type="password" name="newPassword" required placeholder="New Password"
            [(ngModel)]="request.newPassword"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel" />
        <input type="password" name="newPasswordRepeat" required placeholder="Repeat New Password"
            [(ngModel)]="newPasswordRepeat"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel" />
        
        @if(password.invalid && password.dirty){
        <p class="error-text">
            New password must be at least 8 characters long and contain at least one letter and one number.
        </p>
        }

        @if(error){
        <p class="error-text">{{ errorMessage }}</p>
        }

        <button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
    </form>
        @if(passwordChangeSuccess ){
            <p>Password changed successfully! Redirecting to login in {{ countdown }} seconds...</p>
        }
    }
  </div>
</div>
