<header class="header">
  <div class="header-left">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h1 class="brand-title">FlightBooking</h1>
    <h3>admin</h3>
  </div>

  <div class="header-actions">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</header>

<div class="booking-page">
  <div class="booking-box">

    <h2>Add Flight Schedule</h2>

    <form (ngSubmit)="addSchedule()" class="two-column-form" #flightForm="ngForm">

      <div class="form-field">
        <label for="flightId">Flight ID:</label>
        <input type="number" id="flightId" [(ngModel)]="request.flightId" name="flightId" required>
      </div>

      <div class="form-field">
        <label for="fromCityId">From City:</label>
        <select id="fromCityId" [(ngModel)]="request.fromCityId" name="fromCityId" required>
          <option value="">Select city</option>
          <option value="1">Chennai (MAA)</option>
          <option value="2">Mumbai (BOM)</option>
          <option value="3">Delhi (DEL)</option>
          <option value="4">Bengaluru (BLR)</option>
          <option value="5">Hyderabad (HYD)</option>
        </select>
      </div>

      <div class="form-field">
        <label for="toCityId">To City:</label>
        <select id="toCityId" [(ngModel)]="request.toCityId" name="toCityId" required>
          <option value="">Select city</option>
          <option value="1">Chennai (MAA)</option>
          <option value="2">Mumbai (BOM)</option>
          <option value="3">Delhi (DEL)</option>
          <option value="4">Bengaluru (BLR)</option>
          <option value="5">Hyderabad (HYD)</option>
        </select>
      </div>

      <div class="form-field">
        <label for="departureDate">Departure Date:</label>
        <input type="date" id="departureDate" [(ngModel)]="request.departureDate" name="departureDate" required [min]="today" required>
      </div>

      <div class="form-field">
        <label for="departureTime">Departure Time:</label>
        <input type="time" id="departureTime" [(ngModel)]="request.departureTime" name="departureTime"required >
      </div>

      <div class="form-field">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="request.price" name="price"  required>
      </div>

      <div class="form-field">
        <label for="seatsAvailable">Seats Available:</label>
        <input type="number" id="seatsAvailable" [(ngModel)]="request.seatsAvailable" name="seatsAvailable" required>
      </div>

      <div class="form-field">
        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" [(ngModel)]="request.duration" name="duration" required>
      </div>

      <div class="form-actions">
        <button type="submit" class="primary-btn" [disabled]="flightForm.invalid">Submit</button>
      </div>
    </form>

    @if(error){
      <div class="inline-message error-message">{{ errorMessage }}</div>
    }
    @if(success){
      <div class="inline-message success-message">Flight schedule added successfully!</div>
    }

  </div>
</div>
