<app-header-component></app-header-component>
<br>
<br>
<br>
<br>
<br>
<label for="passengerCount">Number of Passengers:</label>
<input type="number" id="passengerCount" [(ngModel)]="passengerCount"/>
<button (click)="generatePassengers()">Fill passenger details</button>

@if(showForm==true){
<form>
    @for (passenger of passengers; let i = $index; track passenger;) {
        <div>
            <label for="passeenger-name"> Name of the passenger:</label>
            <input type="text" required name="passengerName{{i}}" [(ngModel)]="passenger.name"/>
            <select name="passenger-gender" [(ngModel)] = passenger.gender required>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
            </select>
            <select name="passenger-meal" [(ngModel)] = passenger.meal required>
                <option value="VEG">Veg</option>
                <option value="NONVEG">Non-Veg</option>
            </select>
            <input type="text" name="passengerSeat{{i}}" placeholder="Seat No." required [(ngModel)]="passenger.seatPos"/>
        </div>
    }
    <button (click)="bookTicket()">Book Ticket</button>
</form>
}
@if(message!=''){
  <p>{{message}}</p>
}
<br>
<br>
<br>
