<app-header-component></app-header-component>

<div class="booking-page">
    <div class="flight-info-box">
        <div class="route">
            <span class="city">{{ fromCity }}</span>
            <span class="arrow">→</span>
            <span class="city">{{ toCity }}</span>
        </div>
        <div class="meta">
            <span>Departure Date: {{ departureDate }}</span>
            <span>Departure Time: {{ departureTime }}</span>
        </div>
    </div>
    <br>
    <div class="booking-box">

        <div class="passenger-count-section">
            <label for="passengerCount">Number of Passengers</label>
            <input type="number" id="passengerCount" [(ngModel)]="passengerCount"  (change)="generatePassengers()"/>
        </div>

        @if (showForm) {
        <form class="booking-form" #bookingForm="ngForm">

            @for (passenger of passengers; let i = $index; track passenger) {
            <div class="passenger-row">

                <input type="text" placeholder="Passenger name" required name="passengerName{{i}}"
                    [(ngModel)]="passenger.name" />

                <select required name="passengerGender{{i}}" [(ngModel)]="passenger.gender">
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                    <option value="OTHER">Other</option>
                </select>

                <select required name="passengerMeal{{i}}" [(ngModel)]="passenger.meal">
                    <option value="VEG">Veg</option>
                    <option value="NONVEG">Non-Veg</option>
                </select>

                <input type="text" class="seat" placeholder="Seat No." required name="passengerSeat{{i}}"
                    [(ngModel)]="passenger.seatPos" />

            </div>
            }

            @if(passengerCount > 0) {
            <button class="primary-btn" type="button" (click)="bookTicket()" [disabled]="bookingForm.invalid">
                Book Ticket
            </button>
            }

        </form>
        }

        @if (message !== '') {
        <div class="inline-message" [class.success-message]="success" [class.error-message]="!success">
            {{ message }}
        </div>
        }

    </div>

</div>